/* Global Attribute */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
 
/* Header Section */
.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    padding-bottom: 40px;
    display: inline;
    margin: 0;
 
    
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

/* navigation links */
.header div ul {
    padding-top: none;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header div ul li {
    padding: 10px 15px;
    font-weight: lighter;
   font-size: 1.55vw;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* End of Header Section */


/* Hero Sectoin */
.hero {
    background-image: url("./assets/digital-marketing-meeting.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    background-image: url("./assets/images/search-engine-optimization.jpg");
    width: 100%;
    
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* End of Hero Section  */


/* Benefits Section */
.benefits {
    margin-right: 20px;
    padding: 30px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefits Icons */
.benefit-lead img {
    display: inline-flexbox;
    margin: 10px auto;
    max-width: 100px;
}

.benefit-brand img {
    display: inline-flexbox;
    margin: 10px auto;
    max-width: 100px;
}

.benefit-cost img {
    display: inline-flexbox;
    margin: 10px auto;
    max-width: 100px;
}
/* End of Benefits Section */


/* Body Section Images */

.digital-media-marketing img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-engine-optimization img {
    width: 40%;
    height: 40%;
    
}

.online-reputation-management img {
   width: min-content;
   height: min-content;
}

.social-media-marketing img {
    width: 100%;
    height: fit-content;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* End of Body Section */


/* Footer Section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* End of Footer Section */


    
    
  
